
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blue-50 text-gray-800 font-sans;
}
body {
    @apply font-sans bg-gradient-to-br from-blue-50 to-white text-gray-800;
    font-family: 'Poppins', sans-serif;
  }
  @layer utilities {

      .text-glossy-pink {
       color: white;
       font-weight: 800;
      /*background: linear-gradient(135deg, #8e2de2, #4a00e0, #ff0080, #ff5f6d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 300% 300%;
      animation: shine 4s ease-in-out infinite;
      font-weight: 800;*/        
    }
      .animate-fade-in {
        animation: fadeIn 1.2s ease-out forwards;
      }
      .custom-font {
         font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
      }

    
      @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
      }

      .blinking-cursor::after {
        content: '|';
        animation: blink 1s steps(2, start) infinite;
      }

      @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
      }

}
    
  


